In [1]:
import pandas as pd
technologies= {
    'Courses':["Spark","PySpark","Spark","Java","PySpark","PHP"],
    'Fee' :[22000,25000,23000,24000,26000,27000],
    'Duration':['30days','50days','30days','60days','35days','30days']
          }
df = pd.DataFrame(technologies)
print(df['Fee'].unique())

[22000 25000 23000 24000 26000 27000]

In [202]:
def generate_random_keep(n_samples: int, keep_probability: float):
    # Adapted from: https://stackoverflow.com/a/19597672
    n_ones = int(keep_probability * n_samples)
    arr = np.zeros(n_samples)
    arr[:n_ones] = 1
    np.random.shuffle(arr)
    return arr

In [216]:
labels = np.array([0]*4 + [1]*8 + [2]*10)
keep_array = np.ones_like(labels) * -1
keep_array[np.where(labels == 1)] = [1,1,1,1,0,0,0,0]
keep_array

array([-1, -1, -1, -1,  1,  1,  1,  1,  0,  0,  0,  0, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1])

In [19]:
import torch
data = [
    {'target': 0, 'image_path': '/path/to/image'},
    {'target': 0, 'image_path': '/path/to/image'},
    {'target': 0, 'image_path': '/path/to/image'},
    {'target': 1, 'image_path': '/path/to/image'},
    {'target': 1, 'image_path': '/path/to/image'},
    {'target': 1, 'image_path': '/path/to/image'},
    {'target': 2, 'image_path': '/path/to/image'},
    {'target': 2, 'image_path': '/path/to/image'},
    {'target': 2, 'image_path': '/path/to/image'},
]

df = pd.DataFrame(data)
tensor = torch.tensor(df['target'].values)
tensor[3] = 2
tensor
df.loc[:,'target'] = tensor.numpy()
#df['target'].loc[:] = tensor.numpy()
df

   target      image_path
0       0  /path/to/image
1       0  /path/to/image
2       0  /path/to/image
3       2  /path/to/image
4       1  /path/to/image
5       1  /path/to/image
6       2  /path/to/image
7       2  /path/to/image
8       2  /path/to/image